.data-container{
    background-color:rgb(248 244 244);
}
.data-sample {
    background-color:#d1cad7;
}


#waiting{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 240px;
    height: 40px;

}

#answer{
    
}
.boxx {
  border: 3px solid #9a9f93;
  padding: 15px;
}
.emphasiss {
background-color: #f9f90a38;
}